blockquote
{
  background-color: #eee;
  margin: 0;
  border: 3px solid #ddd;
  padding: 0.5em 2em;  
}

blockquote h1
{
  color: red;
}

.demo-info
{
  margin-right: 255px;
  border: 1px dotted grey;
  padding: 1em;
  font-family: sans-serif;
  line-height: 1.5em;
}    

.monitor-container
{
  margin-right: 255px;
  border: 1px solid grey;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}
