$background-color: #fafafa; // #1a1a1a;

$hover-darken: 5%;
$border-darken: 7%;
$active-darken: 10%;

$number-color: #2fa1d6;
$boolean-color: #806787;
$string-color: #1ed36f;
$function-color: #e61d5f;
$file-color: #e6d21d;
$save-row-color: #dad5cb;
$save-row-border-color: #806787;
$button-color: darken($save-row-color, 10%);
$border-color: darken($background-color, $border-darken);
$input-color: darken($background-color, 8.5%);
$array-color: #1ed36f;

@mixin transition($prop, $time, $curve) {
  -webkit-transition: $prop $time $curve;
  -o-transition: $prop $time $curve;
  -moz-transition: $prop $time $curve;
  transition: $prop $time $curve;
}

@mixin gradient($a, $b) {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($a), to($b));
  background: -o-gradient(linear, 0% 0%, 0% 100%, from($a), to($b));
  background: -moz-gradient(linear, 0% 0%, 0% 100%, from($a), to($b));
}

@mixin button() {
  margin-left: 5px;
  margin-top: 1px;
  border-radius: 2px;
  font-size: 9px;
  line-height: 7px;
  padding: 4px 4px 5px 4px;
  background: $button-color;
  color: #ffffff;
  text-shadow: 0 1px 0 darken($button-color, 10%);
  box-shadow: 0 -1px 0 darken($button-color, 10%);
  cursor: pointer;
}

@mixin gears() {
  background: $button-color url(assets/gears.png) 2px 1px no-repeat;
  height: 7px;
  width: 8px;
}

@import "structure";

/** Main type */
.dg {
  color: #555555; // #eee;
  font: 11px "Lucida Grande", sans-serif;
  text-shadow: 0 -1px 0 #eee; // #111

  /** Auto place */
  &.main {
    ul {
      /** Scrollbar */
      &::-webkit-scrollbar {
        width: 5px;
        background: $background-color;
      }

      &::-webkit-scrollbar-corner {
        height: 0;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: darken($background-color, 30%);
      }
    }
  }

  li {
    &:not(.folder) {
      background: $background-color;
      border-bottom: 1px solid $border-color;
    }

    &.save-row {
      line-height: 25px;
      background: $save-row-color;
      border: 0;
      //border-bottom: 1px solid "white";

      select {
        margin-left: 5px;
        width: 70px;
      }

      .button {
        text-shadow: none;

        &.gears {
          @include gears;
        }

        @include button;

        &:hover {
          background-color: darken($button-color, 5%);
          box-shadow: 0 -1px 0 darken($button-color, 10%);
        }
      }
    }

    &.folder {
      border-bottom: 0;
    }

    &.title {
      padding-left: 16px;
      background: #e8e8e8;
      //background:
      //  #000000
      //  // assets/title-background.png
      //  url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==)
      //  6px 10px no-repeat;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  // .closed li.title {
  //  // assets/closed-title-background.png
  //   background-image: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==);
  // }

  /* Controller row, <li> */
  .cr {
    &.boolean {
      border-left: 3px solid $boolean-color;
    }

    &.color,
    &.vector {
      border-left: 3px solid;
    }

    &.plotter {
      height: 58px;
    }

    &.function {
      border-left: 3px solid $function-color;
    }

    &.file {
      border-left: 3px solid $file-color;
    }

    &.number {
      border-left: 3px solid $number-color;

      input[type="text"] {
        color: $number-color;
      }

      input[type="number"] {
        color: $number-color;
      }
    }

    &.string {
      border-left: 3px solid $string-color;

      input[type="text"] {
        color: $string-color;
      }
    }

    &.array {
      border-left: 3px solid $array-color;

      input[type="text"] {
        color: $array-color;
      }
    }

    &.function:hover,
    &.boolean:hover {
      background: #eeeeee; // #111;
    }
  }

  /** Controllers */
  .c {
    input[type="text"],
    input[type="number"] {
      background: $input-color;
      outline: none;

      &:hover {
        background: darken($input-color, $hover-darken);
      }

      &:focus {
        background: darken($input-color, $active-darken);
        color: #555555; // #fff;
      }
    }

    input[type="number"] {
      background: $input-color;
      outline: none;
      border: none;

      &:hover {
        background: darken($input-color, $hover-darken);
      }

      &:focus {
        background: darken($input-color, $active-darken);
        color: #ffffff;
      }
    }

    .slider {
      background: $input-color;
      cursor: ew-resize;
    }

    .slider-fg {
      background: $number-color;
      max-width: 100%;
    }

    .slider:hover {
      background: darken($input-color, $hover-darken);

      .slider-fg {
        background: darken($number-color, $hover-darken);
      }
    }
  }
}

// Some extra styles.

.autocomplete {
  background: white;
  z-index: 1000;
  font: 11px "Lucida Grande", sans-seriff;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
  font: inherit;
}

.autocomplete > div {
  padding: 0 4px;
}

.autocomplete .group {
  background: #eeeeee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
  background: #81ca91;
  cursor: pointer;
}

/* Light theme styles */

.dg {
  &.light-theme.main {
    &.taller-than-window .close-button {
      border-top: 1px solid #dddddd;
    }

    .close-button {
      background-color: #e8e8e8;
    }

    .close-button:hover {
      background-color: #dddddd;
    }

    &::-webkit-scrollbar {
      background: #fafafa;
    }

    &::-webkit-scrollbar-thumb {
      background: #bbbbbb;
    }
  }

  &.light-theme,
  &.light-theme .dg {
    color: #555555;
    text-shadow: none !important;

    li:not(.folder) {
      background: #fafafa;
      border-bottom: 1px solid #dddddd;
    }

    li.save-row .button {
      text-shadow: none !important;
    }

    li.title {
      background: #e8e8e8 url(assets/light-title.png) 6px 10px no-repeat;
    }

    .closed li.title {
      background-image: url(assets/light-closed-title.png);
    }

    .cr.function:hover,
    .cr.boolean:hover {
      background: #ffffff;
    }

    .c input[type="text"] {
      background: #e9e9e9;
    }

    .c input[type="text"]:hover {
      background: #eeeeee;
    }

    .c input[type="text"]:focus {
      background: #eeeeee;
      color: #555555;
    }

    .c .slider {
      background: #e9e9e9;
    }

    .c .slider:hover {
      background: #eeeeee;
    }

    li.save-row .button,
    li.save-row .button.gears {
      background-color: #bbbbbb;

      /* box-shadow: none; */
    }

    li.save-row {
      padding-top: 4px;
    }
  }
}

.remove-icon {
  background: url(assets/light-remove.png) no-repeat;
  width: 8px;
  height: 8px;
  display: inline-block;
  padding: 4px;
  float: right;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 7px;
}

.array-input {
  height: 25px;
  position: relative;
}

/** Image Controller */
.image-picker {
  position: relative;

  .content {
    height: 100%;
    cursor: pointer;
    transition: opacity 0.2s;

    &.dragover {
      opacity: 0.8;
    }
  }

  input {
    display: none;
  }

  &:hover .image-swatches {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .image-swatches {
    z-index: 2;
    height: 100%;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
    width: 100%;
    text-align: left;

    .swatch {
      display: inline-block;
      cursor: pointer;
      flex: 0 1 33%;
      width: 32%;
      margin-right: 1%;
    }
  }

  .camera-icon {
    width: 20px;
    height: 20px;
    background-image: url("assets/light-camera.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11px 6px;
  }

  .camera-button,
  .new-image-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: black;
    cursor: pointer;
  }

  .new-image-button {
    margin-left: 20px;
  }

  .new-image-icon {
    width: 20px;
    height: 20px;
    background-image: url("assets/light-new-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11px 11px;
  }

  .swatch-buttons {
    display: flex;
    margin-bottom: 10px;
  }

  .swatch-images {
    display: flex;
    align-items: center;
  }

  .selected-image {
    height: 70px;

    & .jsgif {
      height: 100%;
    }

    & .jsgif canvas {
      height: 100%;
    }

    margin-bottom: 10px;
    border: 2px solid white;
    display: inline-flex;
  }

  .gif-img {
    visibility: hidden;
  }
}

.dg .button-container {
  float: right;
  background-color: black;
  height: 19px;
  margin-top: 4px;
  margin-left: 4px;
}

.dg .saw-button {
  height: 19px;
  width: 19px;
  background-image: url("assets/saw.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px 10px;
}

.dg .sine-button {
  height: 19px;
  width: 19px;
  background-image: url("assets/sine.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px 15px;
}
